.clock {
	width: 448px;
	height: 128px;
	display: flex;
	flex-direction: row;
	transition: all 0.5s ease;
    font: 700 64px monospace;
}

.horario {
	margin-left: 4%;
}

.clock .containerClock {
	width: 128px;
	height: 128px;
	display: flex;
	background: var(--oceanGreen2);
	border-radius: 8px;
	color: RGB(255,255,255);
	align-items: center;
	justify-content: center;
	transition: all 0.5s ease;
}

.clock .containerClock:hover {
	border-radius: 100%;
    box-shadow: 0px 0px 64px var(--turquoiseGreen2);
}

.clock .containerClock:nth-child(1) {
	margin: 0px 16px 0px 0px;
}

.clock .containerClock:nth-child(2) {
	margin: 0px 16px 0px 0px;
}

.clock .container:nth-child(3) {
	margin: 0px 0px 0px 16px;
}