/* 
// BUTTON
*/
.button {
    outline:none;
    height: 40px;
    text-align: center;
    width: 130px;
    border-radius: 20px;
    border-style: none;
    letter-spacing:1px;
    text-shadow:0;
    font-size: 12px;
    font-weight:bold;
    cursor: pointer;
    color:var(--buttonSearchBgAfter);
    box-shadow: 10px 10px 8px -12px var(--shadow);
    transition: all 0.25s ease;
  }
  
  .button:active {
    letter-spacing: 2px;
    letter-spacing: 2px ;
  }
  
  /* 
  // SEARCH BUTTON
  */
  .search__button {
    background-color: var(--buttonSearchBg);
    border: 2px solid var(--buttonSearchBorder);
    transition: all 0.25s ease;
  }

  .search__button:hover {
    color: var(--buttonSearchBorder);
    background: var(--buttonSearchBgAfter);
  }
  
  /* 
  // INSERT BUTTON
  */
  .insert__button {
    background-color: var(--buttonSearchBg);
    border: 2px none var(--buttonSearchBorder);
    margin: 0 20px 0 20px;
    transition: all 0.25s ease;
  }

  .insert__button:hover {
    color: var(--buttonSearchBorder);
    background: var(--buttonSearchBgAfter);
  }

  /* 
  // Promover por cargo
  */
  .button_promote_cargo {
    outline:none;
    height: 40px;
    text-align: center;
    width: 200px;
    border-radius: 20px;
    border-style: none;
    letter-spacing:1px;
    text-shadow:0;
    font-size: 12px;
    font-weight:bold;
    cursor: pointer;
    color:var(--buttonSearchBgAfter);
    box-shadow: 10px 10px 8px -12px var(--shadow);
    transition: all 0.25s ease;
    background-color: var(--buttonSearchBg);
    border: 2px none var(--buttonSearchBorder);
    margin: 15px 20px 0 20px;
    transition: all 0.25s ease;
  }

  /* 
  // Promover por cargo
  */
  .escolha__cargo {
    outline:none;
    height: 40px;
    text-align: center;
    width: 200px;
    border-radius: 20px;
    border-style: none;
    letter-spacing:1px;
    text-shadow:0;
    font-size: 12px;
    font-weight:bold;
    cursor: pointer;
    color:var(--buttonSearchBgAfter);
    box-shadow: 10px 10px 8px -12px var(--shadow);
    transition: all 0.25s ease;
    background-color: var(--buttonSearchBg);
    border: 2px none var(--buttonSearchBorder);
    margin: 15px 20px 0 20px;
    transition: all 0.25s ease;
  }

  .button_promote_cargo:hover {
    background: var(--bottleGreen);
  }

  .button_promote_cargo:active {
    letter-spacing: 2px;
    letter-spacing: 2px ;
  }

  /* 
  // INSERT BUTTON
  */
  .include {
    background-color: var(--buttonSearchBg);
    border: 2px none var(--buttonSearchBorder);
    margin: 0 20px 0 20px;
    transition: all 0.25s ease;
  }

  .include:hover {
    color: var(--buttonSearchBorder);
    background: var(--buttonSearchBgAfter);
  }

 
  /* 
  // EDIT BUTTON
  */
  .edit__button {
    width: 100px;
    color: var(--fontColorBlack);
    background-color: var(--white);
    border: 2px none var(--buttonSearchBorder);
    transition: all 0.25s ease;
    margin: 0px 10px 0px 0px;
  }

  .edit__button > i {
    font-size: 16px;
    margin: 0 5px 0 0;
  }

  .edit__button:hover {
    color: var(--buttonSearchBorder);
    background: var(--buttonSearchBgAfter);
  }
  
  /* 
  // EDIT user BUTTON
  */
  .editUser__button {
    width: 60px;
    color: var(--bottleGreen);
    border: 2px none var(--buttonSearchBorder);
    transition: all 0.25s ease;
  }

  .editUser__button > i {
    font-size: 18px;
  }

  .editUser__button:hover {
    color: var(--buttonSearchBorder);
    background: var(--buttonSearchBgAfter);
  }

  /* 
  // Delete use BUTTON
  */
  .deleteUser__button {
    width: 60px;
    color: var(--redHover);
    border: 2px none var(--buttonSearchBorder);
    transition: all 0.25s ease;
  }

  .deleteUser__button > i {
    font-size: 18px;
  }

  .deleteUser__button:hover {
    color: var(--buttonSearchBorder);
    background: var(--buttonSearchBgAfter);
  }

  /* 
  // EDIT BUTTON
  */
  .cargos__button {
    width: 100px;
    color: var(--fontColorBlack);
    background-color: var(--white);
    border: 2px none var(--buttonSearchBorder);
    transition: all 0.25s ease;
    margin: 0px 10px 0px 0px;
  }

  .cargos__button > a {
    text-decoration: none;
    color: var(--darkJungleGreen)
  }

  .cargos__button > i {
    font-size: 16px;
    margin: 0 5px 0 0;
  }

  .cargos__button:hover {
    color: var(--buttonSearchBorder);
    background: var(--buttonSearchBgAfter);
  }

  /* 
  // CARGOs BUTTON
  */
  .benefits__button {
    width: 100px;
    color: var(--fontColorBlack);
    background-color: var(--white);
    border: 2px none var(--buttonSearchBorder);
    transition: all 0.25s ease;
    margin: 0px 10px 0px 0px;
  }

  .benefits__button > a {
    text-decoration: none;
  }

  .benefits__button > i {
    font-size: 16px;
    margin: 0 5px 0 0;
  }

  .cargos__button:hover {
    color: var(--buttonSearchBorder);
    background: var(--buttonSearchBgAfter);
  }

  /* 
  // DELETE BUTTON
  */
  .delete__button {
    width: 100px;
    color: var(--fontColorBlack);
    background-color: var(--white);
    border: 2px none var(--buttonSearchBorder);
    transition: all 0.25s ease;
  }

  .delete__button > i {
    font-size: 16px;
    margin: 0 5px 0 0;
  }
  
  .delete__button:hover {
    color: var(--buttonSearchBorder);
    background: var(--buttonSearchBgAfter);
  }

  /* 
  // ASSESMENTS BUTTON
  */
  .assesments__button {
    width: 190px;
    color: var(--fontColorBlack);
    background-color: var(--white);
    border: 2px none var(--buttonSearchBorder);
    transition: all 0.25s ease;
  }

  .assesments__button > i {
    font-size: 16px;
    margin: 0 5px 0 0;
  }
  
  .assesments__button:hover {
    color: var(--buttonSearchBorder);
    background: var(--buttonSearchBgAfter);
  }

  /* 
  // EVENTS BUTTON
  */
  .events__button {
    width: 160px;
    color: var(--fontColorBlack);
    background-color: var(--white);
    border: 2px none var(--buttonSearchBorder);
    transition: all 0.25s ease;
    margin: 0px 10px 0px 0px;
  }

  .events__button > i {
    font-size: 16px;
    margin: 0 5px 0 0;
  }

  .events__button > a {
    text-decoration: none;
    color: var(--fontColorDark);
  }
  
  .events__button:hover {
    color: var(--buttonSearchBorder);
    background: var(--buttonSearchBgAfter);
  }

  .cancel {
    color: var(--fontColorDark);
  }

  .save {
    color: var(--fontColorDark);
  }
  
  .associar__button {
    margin-top: 1%;
    color: var(--fontColor);
  }

  .associar__button > a {
    text-decoration: none;
  }
  