.register {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 12%;
}


.card__register {
    display: flex;
    flex-direction: column;
    background: var(--cardList);
    width: 700px;
    height: 50vh;
    padding: 20px;
    margin: 20px 20px 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px var(--shadow);
}

.form__register {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.register__form {
    width: 60%;
    height: 80%;
    overflow-y: auto;
}

.register__form > fieldset {
    width: 100%;
    margin: 0 0 1rem 0;
    padding: 0;
    border: none;
    display: flex;
    flex-direction: column;
}

.register__form > fieldset > input {
    border: none;
    width: 100%;
    -webkit-appearance: none;
    -ms-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 12px;
    border-radius: 3px;
    outline: none;
    font-size: 14px;
    margin-top: 10px;
}

.register__form > fieldset > textarea {
    margin-top: 10px;
}

.modal__include > b {
    font-size: 1.4em;
    margin: 15px;
}

