.home__infos {
  height: auto;
  display: flex;
  align-items: center;
}

.infos {
 width: 60%;
}

.horario > h3 {
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 26px;
  font-weight: bold;
}
.horario{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.home__options {
    width: 85%;
    display: flex;
    justify-content: space-between;
}
  
.container {
    width: 48%;
    height: 400px;
    border-radius: 40px;
    box-shadow: 5px 5px 30px 7px rgba(0,0,0,0.25), -5px -5px 30px 7px rgba(0,0,0,0.22);
    cursor: pointer;
    transition: 0.4s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .home__options .container {
    border-radius: 40px;
  }
  
  .container .title {
    text-align: center;
    border-radius: 0px 0px 40px 40px;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 30px;
    margin-top: -80px;
    height: 40px;
    font-size: 28px;
  } 

  .container > div > p {
    font-size: 20px;
    margin-top: 10px;
  }

  .infos {
    display: flex;
    flex-direction: column;
    background: var(--cardList);
    width: 55%;
    height: 85%;
    padding: 20px;
    margin: 20px 20px 40px 0px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px var(--shadow);
}

.container__infos {
  display: flex;
}

.dividerProfile {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* INPUTS DO CARD LIST */
.input__info {
  position: relative;
  font-size: 14px;
  padding-top: 20px;
  margin-bottom: 5px;
}

.input__info input {
  border: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 12px;
  border-radius: 3px;
  outline: none;
  font-size: 14px;
  width: 90%;
  margin-top: 5px;
}

.input__info input:disabled {
  background-color: var(--inputDisabled);
  color: var(--shadow);
}

.container__input {
  width: 100%;
  margin-top: 10px;
}

@media screen and (max-width: 1240px) {
  .home__infos {
    height: auto;
  }

  .infos {
    width: 45%;
  }

  .horario {
    margin: 0px;
  }

  .home__options {
    flex-direction: column;
  }

  .container {
    width: 100%;
    margin-bottom: 7.5%;
    height: 350px;
  }
}

@media screen and (max-width: 1240px) {
  .horario {
    display: none;
  }

  .infos {
    width: 85%;
  }
}

@media screen and (max-width: 620px) {
  .container__infos {
    flex-direction: column;
  }

  .input__info input {
    width: 100%;
  }
}

@media screen and (max-width: 620px) {
  .modal__cargos {
    width: 100%;
  }

  .modal {
    height: 100%;
    border-radius: 0px;
  }

  .form__avaliacao > div {
    flex-direction: column;
    width: 80%;
    align-items: center;
  }
  .input-field {
    width: 100%;
  }
  .input-field input:disabled {
    width: 100%;
  }
}

