/* 
// IMPORTAÇÃO DOS COMPONENTS CSS 
*/
@import url('./buttons/buttons.css');
@import url('./cardList/cardList.css');
@import url('./inputs/input-search.css');
@import url('./header/navHeader.css');
@import url('./modal/modal.css');
@import url('./toastr/toastr.css');
@import url('./dataTable/dataTable.css');
@import url('./container/container.css');
@import url('./Clock/clock.css');
/* 
// DEFINIÇÃO DE CLASSES GENÉRICAS
*/
.app {
    background-color: var(--background);
    display: flex;
    flex-direction: column;
    transition: transform 0.5s ease-in;
    margin-left: 12%;
}

.app-active {
  transform: translateX(6%);
}

body {
  margin: 7vh 0 0 0;
  overflow-x: hidden
}

h1 {
  font-size: 2em;
  margin: 20px 0 0 20px;
}

/* 
// NAVIGATION HEADER
*/
.nav_header {
  margin: 20px 0 0 20px;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 0px;
}

*::-webkit-scrollbar-track {
  border-radius: 0px;
}

*::-webkit-scrollbar-thumb {
  border-radius: 0px;
}


@media screen and (max-width: 720px) {
  h1 {
    margin: 20px 12% 0 0;
    text-align: center;
  }

  .cardList {
    margin: 20px 12% 0px 0 !important; 
    width: 100%;
  }

  .list {
    justify-content: center;
  }

  .modal__include {
    width: 100%;
    max-height: 100%;
  }
}


