/* 
// SEARCH INPUT
*/
/* .input {
    outline:none;
    height: 40px;
    text-align: center;
    width: 450px;
    border-radius:40px;
    letter-spacing:1px;
    text-shadow:0;
    font-size: 12px;
    font-weight:bold;
    cursor: pointer;
  } */
  
  .search__box{
    width: 450px;
    background-color: var(--searchInputBg);
    letter-spacing:1px;
    border-radius: 5px;
    height: 50px;
    display: flex;
    margin: 10px 0px 0px 20px;
    padding: 10px;
    box-shadow: 12px 12px 10px -12px var(--shadow);
  }
  
  .search__table{
    background-color: var(--searchInputBg);
    letter-spacing:1px;
    border-radius: 5px;
    height: 50px;
    display: flex;
    margin: 10px 0px 0px 20px;
    padding: 10px;
    box-shadow: 12px 12px 10px -12px var(--shadow);
  }
  
  .search__dropdown{
    width: 150px;
    border-right: 2px solid var(--searchInputBorder);
    color: var(--inputColorDark);
    position: relative;
    cursor: pointer;
  }
  
  .search__default__option{
    padding: 8px 15px;
    font-size: 16px;
  }
  
  .search__dropdown ul{
    position: absolute;
    top: 50px;
    background: var(--white);
    width: 150px;
    border-radius: 5px;
    padding: 20px;
    display: none;
    z-index: 1;
    box-shadow: 12px 12px 10px -12px var(--shadow);
  }
  
  .search__dropdown ul.active{
    display: block;
  }
  
  .search__dropdown ul li{
    padding-bottom: 20px;
  }
  
  .search__dropdown ul li:last-child{
    padding-bottom: 0;
  }
  
  .search__dropdown ul li:hover{
    color: var(--searchInputHover);
  }
  
  .search__dropdown:before{
    content: "";
    position: absolute;
    top: 12px;
    right: 20px;
    border: 8px solid;
    border-color: var(--searchInputIcon) transparent transparent transparent;
  }
  
  .search__field{
    width: 350px;
    height: 100%;
    position: relative;
  }
  
  .search__input{
    width: 100%;
    height: 100%;
    border: none;
    font-size: 16px;
    padding-left: 20px;
    padding-right: 38px;
    color: var(--fontColorDark);
  }

  .search__input:focus{
    outline: none;
  }
  
  .search__field .fas{
    position: absolute;
    top: 4px;
    right: 10px;
    font-size: 22px;
    color: var(--searchInputIcon);
    cursor: pointer;
  }