.fade {
    height: 100vh;
    width: 100vw;
    position: fixed;
    top:50%;
    left: 50%;
    background-color: rgba(0, 0, 0, 0.4);
    transform: translate(-50%, -50%);    
    z-index: 2;
    display:none;
}

.secondFade {
    height: 100vh;
    width: 100vw;
    position: fixed;
    top:50%;
    left: 50%;
    background-color: rgba(0, 0, 0, 0.4);
    transform: translate(-50%, -50%);    
    z-index: 3;
    display:none;
}

.modal {
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 500px;
    border-radius: 20px;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;
    background-color: var(--modalBackground);
}

.modal__cargos {
    overflow-y: initial;
    width: 50vw;
}

.trCargo {
    cursor: pointer;
}

.modalHeader {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.modalHeader > p, h4 {
    margin-top: 20px;
}

.modalOptions {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.modalOptions > .cancel {
    margin-left: 20px;
}

.modal__content {
    height: 100%;
    width: 100%;
    overflow-y: auto;
}

.modal__include {
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50vw;
    max-height: 80%;
    padding: 20px;
    border-radius: 20px;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;
    background-color: var(--modalIncludeBackground);
}

.modal > .delete__icon{
    font-size: 6em;
    color: var(--red);
}

.delete__buttons {
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.include__buttons {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.modal > div > .cancel {
    color: var(--fontColorDark);
}

.modal > div > .delete {
    background-color: var(--red);
    color: var(--fontColor);
}

.modal > div > .delete:hover {
    background-color: var(--redHover);
    color: var(--fontColor);
}

.form__avaliacao {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2% 0px 0px 0px;
}

.form__avaliacao > div {
    display: flex;
}

.form__avaliacao > div > .input-field{
    margin: 1%;
}

.avaliacao__comentario {
    background-color: var(--gray);
}
