@import url('./index.css');

header {
    font-size: 1.4em;
    top: 0;
    width:100%;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 7vh;
    background-color: var(--headerColor);
    color: var(--fontColor);
    z-index: 1;
}

.profile {
    cursor: pointer;
    height: 100%;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin-right: 30px;
    font-size: 0.6em;
}

.profile > i {
    margin-bottom: 5px;
    font-size: 1.4em;
}
.menu { 
    display: flex;
    position: absolute;
    background-color: var(--menuColor);
    left: 0px;
    top: 7vh;
    height: 100vh;
    transform: translateX(-100%);
    z-index: 2;
    transition: transform 0.5s ease-in;
}

.menu-active {
    transform: translateX(0%);
}

.btn__menu {
    cursor: pointer;
    margin-left: 20px;
}

.nav__header {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nav {
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    width: 200px;
    height: 93vh;
    font-size: 18px;
    background: var(--menuColor);
}

.nav > div {
    display: flex;
    flex-direction: column;
}

.nav__link {
    padding: 18px 18px;
    text-decoration: none;
    color: var(--fontColorDark);
    font-weight: 500;
}

.nav__link:hover {
    background: var(--menuHover);
    color: var(--fontColor);
}

.nav > .logout {
    justify-self: flex-end;
}

@media screen and (max-width: 720px) {
    .btn__menu > #text {
        font-size: 0;    
    }

    .nav__header {
        flex-direction: column;
    }

    .fade > div {
        height: 100%;
    }
}