/* 
// IMPORTAÇÃO DOS MÓDULOS CSS 
*/
@import url('./Menu/menu.css');
@import url('./Components/app.css');
@import url('../css/Register/Register.css');

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: 'Quicksand', sans-serif;
}

/* 
// DEFINIÇÃO DAS CORES DO SISTEMA
*/
:root {
    --white: #FFFFFF;
    --gray: #e6e6e6;
    --gray2: #eee;
    --grayFade: #808080;
    --modalWhite: #F5F6F7;
    --nyanza: #D8F3DC;
    --turquoiseGreen: #B7E4C7;
    --turquoiseGreen2: #95D5B2;
    --oceanGreen: #74C69D;
    --oceanGreen2: #52B788;
    --illuminatingEmerald: #40916C;
    --bottleGreen: #2D6A4F;
    --brunswickGreen: #1B4332;
    --darkJungleGreen: #081C15;
    --red: #F15E5E;
    --redHover: #EE3535;
    --warning: #F89406;

    /*Font Color*/
    --fontColor: var(--white);
    --fontColorDark: var(--darkJungleGreen);

    /*Header Color*/
    --headerColor: var(--brunswickGreen);

    /*Menu Color*/
    --menuColor: var(--gray2);
    --menuHover: var(--brunswickGreen);

    /*Background Color*/
    --background: var(--white);

    /*Card Background Color*/
    --cardList: var(--oceanGreen2);

    /*Shadow*/
    --shadow: var(--darkJungleGreen);

    /*Modal*/
    --modalBackground: var(--white);
    --modalIncludeBackground: var(--modalWhite);
    --fade: var(--grayFade);

    /*Search Buttons*/
    --buttonSearchBg: var(--oceanGreen2);
    --buttonSearchBgAfter: var(--white);
    --buttonSearchBorder: var(--bottleGreen);

    /*Include Buttons*/
    --buttonSearchBg: var(--oceanGreen2);
    --buttonSearchBgAfter: var(--white);
    --buttonSearchBorder: var(--bottleGreen);

    /*Edit Buttons*/
    --buttonSearchBg: var(--oceanGreen2);
    --buttonSearchBgAfter: var(--white);
    --buttonSearchBorder: var(--bottleGreen);

    /*Delete Buttons*/
    --buttonDeletehBg: var(--oceanGreen2);
    --buttonDeleteBgAfter: var(--white);
    --buttonBorder: var(--bottleGreen);

    /*Search Input*/
    --searchInputBg: var(--white);
    --searchInputShadow: var(--darkJungleGreen);
    --searchInputBorder: var(--oceanGreen);
    --searchInputIcon: var(--darkJungleGreen);
    --searchInputHover: var(--oceanGreen2);

    /*Text Area Input*/
    --inputDisabled: var(--gray);

    /*Text Area Input*/
    --textAreaBg: var(--white);
    --searchInputShadow: var(--darkJungleGreen);
    --searchInputBorder: var(--oceanGreen);
    --searchInputIcon: var(--darkJungleGreen);
    --searchInputHover: var(--oceanGreen2);
}

