/* 
IMPORTAÇÃO DOS MÓDULOS CSS 
*/
@import url('./Login/login.css');


/* 
DEFINIÇÕES DO SISTEMA 
*/
* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Sans-serif', sans-serif;
}


/* 
DEFINIÇÃO CORES DO SISTEMA 
*/
:root {
    --input-linear: linear-gradient(120deg, #2D6A4F, #B7E4C7);
    --input-error: red;
    --button-linear: linear-gradient(120deg, #2D6A4F, #D8F3DC, #2D6A4F);
    --button-disabled: #acacac;
    --button-success: rgb(18, 151, 107);
    --white: #fff;
    --black: #303030;
    --gray: #929292;
    --light-gray: #cfcfcf;
    --border-height: 1px;
  }
  



