/* 
// CARD LIST
*/
.list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 100%;
}

.cardList {
    display: flex;
    flex-direction: column;
    background: var(--cardList);
    width: 450px;
    height: auto;
    padding: 20px;
    margin: 20px 20px 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px var(--shadow);
}

.inputs__wrapper {
    display: flex;
    flex-direction: column;
}

 /* 
// CARD BUTTONS
*/
.card__buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 12px;
}

.sequencia {
    margin: 10px, 0px, 0px, 10px;
    background-color: var(--oceanGreen);
}
/* INPUTS DO CARD LIST */
.input-field {
    position: relative;
    font-size: 14px;
    padding-top: 20px;
    margin-bottom: 5px;
  }
  
.input-field input {
    border: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 12px;
    border-radius: 3px;
    outline: none;
    font-size: 14px;
}

.input-field input:disabled {
    background-color: var(--inputDisabled);
    color: var(--shadow);
}

.input__salario {
    margin-bottom: 25px;
  }
  
.input__salario input {
    background-color: var(--turquoiseGreen);
}

.card__tittle {
    display: flex;
    align-self: center;
    font-size: 1.3em;
    font-weight: 600;
    margin-bottom: 5px;
    color: var(--fontColorDark);
}

.input-field > p {
    font-weight: 400;
    color: var(--fontColorDark);
    margin-bottom: 2px;
    font-size: 1.2em;
}

textarea {
    width: 100%;
    resize: none;
    background-color: var(--white);
    border-radius: 5px;
    padding: 4px 4px 4px 4px;
    border-style: none; 
    outline: none;
}

textarea:disabled {
    background-color: var(--inputDisabled);
}

.inputs__wrapper > div {
    display: flex;
    justify-content: space-between;
}

.benefits__button > a {
    text-decoration: none;
    color: var(--fontColorDark);
}