.nav__header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    align-items: center;
}

.paginate__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.controls {
    display: flex;
    align-items: center;
    justify-content: center;
}

.controls div {
    cursor: pointer;

    border: 1px solid var(--gray2);

    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14;
}

.controls div:not(.numbers),
.controls div.numbers div {
        width: 40px;
        height: 40px;
        transition: all 0.25s ease;

}

.controls div.numbers div:hover,
.controls div.numbers div.active {
    background-color: var(--buttonSearchBg);
    color: var(--white);
}
  

.tittle__cargo {
    font-size: 20px;
    margin-top: 1.5%;
    margin-left: 1.5%;
}

.tittle__carrer {
    font-size: 26px;
    margin-top: 1.5%;
    margin-left: 1.5%;
}

.fa-undo-alt {
    font-size: 25px;
    margin-top: 25px;
    cursor: pointer;
}