.toastr {
    display: none;
    height: 100%;
    width: 100%;
}

.toastr__message {
    position: fixed;
    top: 8%;
    right: 2%;
    min-height: 100px;
    min-width: 250px;
    max-width: 350px;
    z-index: 3;
    font-size: 16px;
    border-radius: 20px;
}

.toastr__message > p {
    margin: 0px 5px 5px 0px;
}

.toastr__message > b {
    margin-top: 5px;
}

.toastr__sucess {
    display: flex;
    padding-left: 20px;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: space-evenly;
    flex-direction: column;
    background-color: var(--oceanGreen2);
    color: var(--fontColor);
}

.toastr__error {
    display: flex;
    padding-left: 20px;
    align-items: flex-start;
    justify-content: space-evenly;
    flex-direction: column;
    background-color: var(--red);
    color: var(--fontColor);
}

.toastr__warning {
    display: flex;
    padding-left: 20px;
    align-items: flex-start;
    justify-content: space-evenly;
    flex-direction: column;
    background-color: var(--warning);
    color: var(--fontColor);
}

.show__toastr {
    display:block;
    animation: fadein 0.5s, fadeout 0.5s 3.5s;
}

@keyframes fadein {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeout {
    from {opacity: 1;}
    to {opacity: 0;}
}